@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind创建layer来进行代码复用 */
/* 注意：这种方法不是Tailwind的第一选择，因为如果遇到代码复用的情况，优先选择单独创建React组件，对React组件进行复用 */
/* 如果复用部分都使用layer，那么又回到传统的CSS书写方式，而不是在组件页面就能直接定义style，这样使用Tailwind也就没意义了 */
@layer components {
  .input {
    @apply w-full rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3 md:text-base;
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  /* theme(colors.stone.800)可以直接从Tailwind里获取参数 */
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
